<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User ID Redirect</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen flex justify-center items-center bg-gray-100">
    <form action="/tasks" method="POST">
        <div class="bg-white p-8 rounded shadow-md">
            <h2 class="text-lg font-bold mb-4">Enter User ID</h2>
            <input type="text" name="userId" id="userId" class="ring-2 ring-gray-200 w-full p-2 pl-10 text-sm text-gray-700 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-600" placeholder="User ID">
            <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Submit
            </button>
        </div>
    </form>

</body>
<script>
    document.querySelector('form').addEventListene('submit', function(e){
        const id = document.getElementById("userId").value;
        if(id == null || id < 0){
            alert('Please fill in all required fields');
            e.preventDefault();
        }
    });
</script>
</html>